@media (max-width: 1200px)
    body
        .header 
            &__logo
                margin-right: 40px
                font-size: 20px
            &__menu
                &__link
                    font-size: 13px
            &__link
                margin-left: 0
        
        .banner
            &__text
                padding-top: 30px
            &__circle
                left: 260px
        
        .competitions
            &__wrapper
                .item
                    width: 230px
                    height: 277px
                    &__descr
                        font-size: 16px
                    &__button
                        left: 83%
        
        .reviews
            &__review
                width: 1280px
            &__picture
                display: none
        
        .latest
            &__wrapper
                .item_person_with_car
                    width: 235px
        
        .footer
            &__logo
                font-size: 20px
                margin-right: 170px

@media (max-width: 991px)
    body
        .header
            &__logo
                display: block
                margin: 0 auto
                margin-bottom: 10px
                font-size: 30px
            &__link
                margin-right: 0
            &__btn
                width: 90px
                
        .banner
            &__text
                padding-top: 60px
            &__circle
                left: 0
                top: 300px

        .competitions
            margin-top: 400px
            &__header
                text-align: center
            &__wrapper
                display: grid
                grid-template-columns: 1fr 1fr
                .item
                    margin-left: 50px

        .latest
            &__header
                text-align: center
            &__wrapper
                display: grid
                grid-template-columns: 1fr 1fr
                gap: 40px
                .item_person_with_car
                    margin-left: 50px
        
        .footer
            &__logo
                font-size: 30px
            &__menu
                margin: -17px 0 0 35px
            &__link
                padding-right: 25px
                font-size: 15px


@media (max-width: 767px)
    body
        
        
        .banner
            &__circle
                width: 570px
                height: 300px
            &__text
                margin-left: 10px
            &__btn
                margin-left: 10px

        .competitions
            &__wrapper
                .item
                    margin-left: 35px 
        .how
            &__wrapper
                display: flex
                flex-direction: column
                align-items: center
                .item
                    margin-bottom: 160px
                .right
                    transform: rotate(90deg)
                    &::before
                        content: ''
                        margin: -25px 0 0 -40px
                    &::after
                        content: ''
                        margin: -25px 0 0 -40px
                        bottom: -3px
        .latest
            &__wrapper
                gap:15px  
                .item_person_with_car
                    margin-left: 30px  
        
        .footer
            &__menu    
                display: flex
                flex-direction: column
            &__link
                font-size: 18px
    
        
      

