@media (max-width: 1200px)
    body
        .container
            padding: 0 30px
        .header 
            &__logo
                margin-right: 80px  
            &__menu
                &__item
                    margin-right: 15px
                    &:nth-child(6)
                        margin-right: 25px
                &__link
                    font-size: 13px
                    &:hover
                        color: $black
            &__btn_login
                margin-right: 15px
                &:hover
                    color: $red               
            &__btn
                width: 85px
                &:hover
                    background: $red
                  
        .banner
            padding-top: 0
            &__btn
                &:hover
                    background: $blue
            &__circle
                top: 60px
                right: 0
        
        .competitions
            &__wrapper
                display: flex
                flex-wrap: wrap
                .item
                    width: 30%
                    &__button
                        left: 86%
                        &:hover
                            background: $blue
                    &:nth-child(1)
                        margin-bottom: 50px
                    &:nth-child(4)
                        margin-left: 0
        
        .how
            &__wrapper
                .descr
                    font-size: 15px            
        .reviews
            .container
                width: 100%
            &__item           
                width: 100%              
            &__picture
                display: none
            .slick-dots
                left: 51%
                bottom: 0%
                transform: translate(-51%, -0%)
        .latest
            &__wrapper
                display: flex
                flex-wrap: wrap
                .item_person_with_car
                    &:nth-child(1)
                        margin-bottom: 50px
        
        .reviews
           .slick-dots
                left: 51%
                bottom: 15%
                transform: translate(-51%, -15%) 

        .latest
            &__wrapper
                .item_person_with_car
                    width: 30%
                    &:nth-child(4)
                        margin-left: 0
        .footer
            .container
                display: flex
            &__logo
                padding-right: 140px
            &__link
                font-size: 13px

@media (max-width: 991px)
    body
        .header
            &__logo
                display: block
                margin: 0 auto
                margin-bottom: 10px
                font-size: 30px
            &__link
                margin-right: 0
            &__btn
                width: 90px
                
        .banner
            &__text
                padding-top: 60px
            &__circle
                left: 0
                top: 300px

        .competitions
            margin-top: 400px
            &__header
                text-align: center
            &__wrapper
                display: grid
                grid-template-columns: 1fr 1fr
                .item
                    margin-left: 50px

        .latest
            &__header
                text-align: center
            &__wrapper
                display: grid
                grid-template-columns: 1fr 1fr
                gap: 40px
                .item_person_with_car
                    margin-left: 50px
        
        .footer
            &__logo
                font-size: 30px
            &__menu
                margin: -17px 0 0 35px
            &__link
                padding-right: 25px
                font-size: 15px


@media (max-width: 767px)
    body 
        .banner
            &__text
                margin-left: 10px
            &__btn
                margin-left: 10px

        .competitions
            &__wrapper
                .item
                    margin-left: 35px 
        .how
            &__wrapper
                display: flex
                flex-direction: column
                align-items: center
                .item
                    margin-bottom: 160px
                .right
                    transform: rotate(90deg)
                    &::before
                        content: ''
                        margin: -25px 0 0 -40px
                    &::after
                        content: ''
                        margin: -25px 0 0 -40px
                        bottom: -3px
        .latest
            &__wrapper
                gap:15px  
                .item_person_with_car
                    margin-left: 30px  
        
        .footer
            &__menu    
                display: flex
                flex-direction: column
            &__link
                font-size: 18px
    
        
      

