@media (max-width: 1200px)
    body
        .container
            padding: 0 30px
        .header 
            &__logo
                margin-right: 40px          
            &__link
                margin-left: 0
        
        .banner
            padding-top: 0
            &__circle
                top: 60px
                left: 200px
        
        .competitions
            &__wrapper
                display: flex
                flex-wrap: wrap
                .item
                    &:nth-child(1)
                        margin-bottom: 50px
        
        .how
            &__wrapper
                .descr
                    font-size: 15px            
        .reviews
            &__review
                width: 1280px
            &__picture
                display: none
        
        .latest
            &__wrapper
                display: flex
                flex-wrap: wrap
                .item_person_with_car
                    &:nth-child(1)
                        margin-bottom: 50px
        
        .footer
            .container
                display: flex
            &__logo
                margin-right: 90px
            &__link
                font-size: 13px

@media (max-width: 991px)
    body
        .header
            &__logo
                display: block
                margin: 0 auto
                margin-bottom: 10px
                font-size: 30px
            &__link
                margin-right: 0
            &__btn
                width: 90px
                
        .banner
            &__text
                padding-top: 60px
            &__circle
                left: 0
                top: 300px

        .competitions
            margin-top: 400px
            &__header
                text-align: center
            &__wrapper
                display: grid
                grid-template-columns: 1fr 1fr
                .item
                    margin-left: 50px

        .latest
            &__header
                text-align: center
            &__wrapper
                display: grid
                grid-template-columns: 1fr 1fr
                gap: 40px
                .item_person_with_car
                    margin-left: 50px
        
        .footer
            &__logo
                font-size: 30px
            &__menu
                margin: -17px 0 0 35px
            &__link
                padding-right: 25px
                font-size: 15px


@media (max-width: 767px)
    body 
        .banner
            &__text
                margin-left: 10px
            &__btn
                margin-left: 10px

        .competitions
            &__wrapper
                .item
                    margin-left: 35px 
        .how
            &__wrapper
                display: flex
                flex-direction: column
                align-items: center
                .item
                    margin-bottom: 160px
                .right
                    transform: rotate(90deg)
                    &::before
                        content: ''
                        margin: -25px 0 0 -40px
                    &::after
                        content: ''
                        margin: -25px 0 0 -40px
                        bottom: -3px
        .latest
            &__wrapper
                gap:15px  
                .item_person_with_car
                    margin-left: 30px  
        
        .footer
            &__menu    
                display: flex
                flex-direction: column
            &__link
                font-size: 18px
    
        
      

