@import "variables"
@import "media"

    
*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: 'Open Sans', sans-serif
    font-family: 'Rajdhani', sans-serif

.container
    position: relative
    max-width: 1170px
    margin: 0 auto

.hamburger_menu
    display: none

.header
    padding-top: 30px
    margin-bottom: 37px
    min-height: 40px
    .container
        display: flex
        justify-content: space-between
    &__logo
        display: flex
        margin-right: 93px
        font-size: 30px
        color: $black
        font-weight: 700
        width: 137px
        height: 37px
        text-transform: uppercase
        letter-spacing: 0.05em
        text-decoration: none
        span
            color: $red
    &__wrapper_mobile
        display: flex
    &__menu
        display: flex
        &__item
            padding: 10px 16px 0 16px
            list-style-type: none
            &:nth-child(6)
                padding-right: 106px
        &__link
            display: flex
            font-family: 'OpenSans-Regular'
            font-weight: 600
            font-size: 14px
            line-height: 19px
            color: $black
            text-decoration: none
            &:hover
                color: $red
    &__wrapper_btn 
        display: flex            
    &__btn_login
        font-family: 'OpenSans-Regular'
        margin-right: 30px
        font-weight: 600
        font-size: 16px
        line-height: 22px
        color: $red
        text-decoration: none
        border: none
        background-color: $white
        cursor: pointer
        &:hover
            color: $black
    &__btn
        font-family: 'OpenSans-Regular'
        font-weight: 600
        width: 110px
        height: 40px
        font-size: 16px
        background: $red
        border-radius: 5px
        border: none
        color: $white
        cursor: pointer
        &:hover
            background: #d40237

.banner
    min-height: 400px
    padding: 95px 0 110px 0
    margin-bottom: 100px
    &__text
        margin-bottom: 35px
        font-weight: 700
        font-size: 50px
        line-height: 60px
        span
            color: $red
    &__btn
        width: 120px
        height: 40px
        background: $blue
        border-radius: 5px
        border: none
        font-family: 'Open Sans'
        font-weight: 600
        font-size: 16px
        color: $white
        cursor: pointer
        &:hover
            background: #003db6
    &__circle
        position: absolute
        top: -100px
        right: -50px
        width: 100%
        width: 755px
        height: 400px
        img
            width: 100%
            

.competitions
    min-height: 362px
    margin-bottom: 100px
    &__header
        margin-bottom: 35px
        font-weight: 700
        font-size: 36px
        line-height: 46px
        color: $grey
    &__wrapper
        display: flex
        width: 100%
        .item
            position: relative
            margin: 0 15px
            min-height: 283px
            width: 25%
            background: $white
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15)
            border-radius: 10px
            &:nth-child(1)
                margin-left: 0
            &:nth-child(4)
                margin-right: 0  
            &__img
                margin-bottom: 14px
                min-height: 160px
            img
                width: 100%
            &__descr
                display: flex
                margin-left: 20px
                margin-bottom: 1px
                font-weight: 700
                font-size: 20px
            &__price
                display: inline-block
                margin-left: 20px
                font-weight: 700
                font-size: 30px
                color: $red
            &__old_price
                display: inline-block
                font-weight: 500
                font-size: 20px
                text-decoration: line-through
                color: #999999
                margin-bottom: 9px
            &__text
                margin-left: 20px
                font-family: 'OpenSans-Regular'
                font-weight: 400
                font-size: 14px
                line-height: 19px
                color: $grey
            &__button
                position: absolute
                bottom: 0
                right: 0
                width: 40px
                height: 40px
                background: $blue
                border-radius: 10px 0px
                border: none
                cursor: pointer
                &:hover
                    background: #003db6
            &__right
                width: 16px
                height: 10px   
                position: relative
                display: inline-flex
                cursor: pointer 
                &::before, &::after
                    content: ''
                    position: absolute
                &::before
                    content: ''
                    width: 16px
                    height: 2px
                    background-color: $white
                    top: 5px
                &::after
                    content: ''
                    left: 5px
                    bottom: -1px
                    width: 8px
                    height: 8px
                    border-top: 2px solid $white
                    border-left: 2px solid $white    
                    transform: rotate(135deg)
                
.how
    min-height: 280px
    margin-bottom: 100px
    &__subheader
        font-weight: 700
        font-size: 36px
        text-align: center
        color: #343434  
        margin-bottom: 53px
    &__wrapper
        display: flex
        justify-content: space-between
        .item
            width: 245px
            height: 120px
        .img
            display: block
            margin: 0 auto
            width: 64px
            height: 64px
            img
                width: 100%
        .descr
            margin-top: 30px
            margin-bottom: 100px
            font-family: 'OpenSans-Regular'
            font-weight: 400
            font-size: 16px
            line-height: 22px
            text-align: center
            color: #343434
            span
                color: $grey
                font-family: 'Open Sans'
                font-weight: 600
        .right
            width: 45px
            height: 10px   
            position: relative
            display: inline-flex
            &::before, &::after
                content: ''
                position: absolute
            &::before
                content: ''
                width: 33px
                height: 3px
                background-color: #585858  
                top: 30px
                left: 7px
            &::after
                content: ''
                left: 21px
                bottom: -31px
                width: 15px
                height: 16px
                border-top: 3px solid #585858 
                border-left: 3px solid #585858      
                transform: rotate(135deg)
            
.reviews
    display: flex
    margin-bottom: 100px
    &__inner
        width: 100%
        height: 400px
        background: rgba(52, 108, 217, 0.12)
    &__flex
        display: flex
        width: 100%
    &__item
        margin: 0 auto
        padding-top: 73px
        width: 50%
        font-weight: 600
        font-size: 20px
        line-height: 30px
        text-align: center
        color: $grey
    &__descr
        margin: 0 auto 
        font-family: 'OpenSans-Regular'
        max-width: 400px 
        margin-bottom: 22px
    &__name
        font-family: 'OpenSans-Regular'
        font-weight: 400
        font-size: 16px
        text-align: center
        text-transform: uppercase
        color: $grey
        margin-bottom: 40px
    &__picture
        display: flex
        width: 50%
        .img
            width: 100%
            height: 400px
        img
            width: 100%  
    .slick-dots
        position: absolute
        left: 24%
        bottom: 20%
        transform: translate(-24%, -20%)
        display: flex
        justify-content: center
        li
            list-style-type: none  
        button
            margin-right: 15px
            height: 10px
            width: 10px
            font-size: 0
            border-radius: 100%
            border: none
            background: rgba(255, 46, 99, 0.33)
            cursor: pointer
            &:focus
                background: $red

.latest
    min-height: 367px
    margin-bottom: 100px
    &__header
        font-weight: 700
        font-size: 36px
        color: $grey
        margin-bottom: 32px
    &__wrapper
        display: flex
        width: 100%
        .item_person_with_car
            margin: 0 15px
            min-height: 288px
            width: 25%
            background: $white
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15)
            border-radius: 10px
            &:nth-child(1)
                margin-left: 0
            &:nth-child(4)
                margin-right: 0  
            .img
                margin-bottom: 20px
                width: 100%
            img
                height: 200px
                width: 100%
            .descr
                margin-bottom: 4px
                margin-left: 20px
                font-weight: 700
                font-size: 20px
                line-height: 26px
                color: #252A34
            .subdescr
                margin-left: 20px
                font-weight: 400
                font-family: 'OpenSans-Regular'
                font-size: 14px
                line-height: 19px
                color: #343434

.footer
    min-height: 70px
    background: $blue
    .container
        display: flex
    &__logo
        display: inline-flex
        padding: 16px 388px 0 0
        font-weight: 700
        font-size: 30px
        letter-spacing: 0.05em
        text-transform: uppercase
        color: $white
    &__menu
        display: flex
        justify-content: space-between
    &__item  
        padding: 25px 16px 0 16px
        list-style-type: none
        &:nth-child(1)
            padding-left: 0
        &:nth-child(6)
            padding-right: 0         
    &__link
        font-family: 'Open Sans'
        font-weight: 600
        font-size: 15px
        color: $white
        text-decoration: none
        &:nth-child(5)
            padding-right: 0
        &:hover
            color: #b1b1b1
